<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <div id="home-markdown6" style="text-align:center;">
      <p style="color:#000000;">Vitajte v ukážkovej multiplatformovej aplikácií pre všetky operačný systémy na smartphonoch a tak isto aj pre internetové prehliadače.</p>

      <p style="color:#000000;">V ľavom hornom rohu nájdete menu, ak si chcete prejsť našú jednoduchú aplikáciu.</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <div id="home-markdown7" style="text-align:center;">
      <p style="color:#000000;">Chcete vedieť viac? Zavolajte, napíšte alebo prejdite na našu stránku, kde sa dozviete o službách a výhodách.</p>
    </div>
    <a href="mailto:michal@michalpetrovic.com" id="home-button5" class="button button-positive  button-block">Napíšte nám mail!</a>
    <a href="tel:+421910928663" id="home-button6" class="button button-positive  button-block">Zavolajte nám!</a>
    
  </ion-content>
</ion-view>