<ion-view title="Log In" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="logIn-form1" class="list">
      <ion-list id="logIn-list2">
        <label class="item item-input" id="logIn-input1">
          <span class="input-label">Meno</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="logIn-input2">
          <span class="input-label">Heslo</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.succesffulLogIn" id="logIn-button1" class="button button-stable  button-block">Prihlásiť</a>
      <a ui-sref="menu.signUp" id="logIn-button2" class="button button-positive  button-block button-clear">Ešte nemám účet</a>
    </form>
  </ion-content>
</ion-view>