<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="item-icon-right" id="menu-list-item1" ui-sref="menu.home" menu-close="">Domov
          <i class="icon ion-android-home"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item2" ui-sref="menu.photos" menu-close="">Fotky
          <i class="icon ion-ios-photos"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item3" ui-sref="menu.logIn" menu-close="">Prihlásiť sa
          <i class="icon ion-log-out"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item4" ui-sref="menu.signUp" menu-close="">Registrácia
          <i class="icon ion-log-in"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>