<ion-view title="Photos" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="photos-card22">
      <ion-item class="item-avatar" id="photos-list-item11">
        <img src="img/circuloid.png">
        <h2>Hry</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/CyYrgSHZTciPwAa6Gg3o_green.png" width="250px" height="250px" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="photos-list-item-container4">
        <div id="photos-markdown4" style="text-align:center;">
          <p style="margin-top:0px;color:#000000;">Vzrušújúce hry na zlepšenie logického myslenia a postrehu...</p>
        </div>
      </div>
    </div>
    <div class="list card" id="photos-card23">
      <ion-item class="item-avatar" id="photos-list-item13">
        <img src="img/angularapp.png">
        <h2>Stránky</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/pxeG4JWCQGbKcEPMoyYg_red.png" width="250px" height="250px" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="photos-list-item-container5">
        <div id="photos-markdown5" style="text-align:center;">
          <p style="margin-top:0px;color:#000000;">Stránky na propagáciu firiem, ukážkových kódov a pod.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>