<ion-view title="SignUp" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="signUp-form2" class="list">
      <ion-list id="signUp-list3">
        <label class="item item-input" id="signUp-input3">
          <span class="input-label">Meno</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signUp-input4">
          <span class="input-label">Používateľské meno</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signUp-input5">
          <span class="input-label">Heslo</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="menu.logIn" id="signUp-button3" class="button button-stable  button-block">Zaregistrovať</a>
    </form>
  </ion-content>
</ion-view>