<ion-view title="Succesfful LogIn" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="succesffulLogIn-form3" class="list">
      <label class="item item-input" id="succesffulLogIn-textarea1">
        <span class="input-label">Gratulujeme, úspešne ste sa prihlásili</span><textarea placeholder=""></textarea></label>
    </form>
    <a href="/" id="succesffulLogIn-button4" class="button button-positive  button-block">Domov</a>
  </ion-content>
</ion-view>